<div class="row justify-content-md-center">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3 class="display-4" style="font-size: 30px;">Login</h3>
                <form action="/admin/categorias/edit" method="POST">
                    <input type="hidden" id="id" value="{{categoria.dataValues.id}}">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" class="form-control">
                        
                    <label for="senha">Senha</label>
                    <input type="text" id="password" name="password" class="form-control">
                        
                    <br>
                    <button type="submit" class="btn btn-dark">Entrar no painel</button>
                </form>
            </div>
        </div>
    </div>
</div>
