<div class="row">
    {{#each erros}}
<div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}
<div  class="col-sm-6">
    Ola boi
</div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3 class="display-4 text-center" style="font-size: 20px;">Faça seu cadastro</h3>

                <form action="/application/new" method="POST">
                    <div class="form-group">
                        <label for="">Nome da loja</label>
                        <input id="bdName" name="bdName" type="text" class="form-control form-control-sm" placeholder="newecommerc.com.br/NOME/">
                    </div>
                    <div class="form-group">
                        <label for="">Nome completo</label>
                        <input id="name" name="name" type="text" class="form-control form-control-sm">
                    </div>
                    <div class="form-group">
                        <label for="">Telefone</label>
                        <input id="phone" name="phone" type="text" class="form-control form-control-sm">
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                        <input id="email" name="email" type="email" class="form-control form-control-sm">
                    </div>
                    <div class="form-group">
                        <label for="">Senha</label>
                        <input id="password" name="password" type="password" class="form-control form-control-sm">
                    </div>
                  {{!--   <div class="form-group">
                        <label for="">Confirma senha</label>
                        <input id="password_" type="password" class="form-control form-control-sm">
                    </div> --}}
                    <button type="submit" class="btn btn-dark">Criar conta!</button>
                    </form>
            </div>
        </div>
    </div>

</div>